<footer class="footer">
	<div class="footer-container">
		<div class="footer-logo">
			<a href="http://lostauthenticrecipes.com/{% if site.url == 'http://lostauthenticrecipes.com' and page.url == '/' %}#" data-scroll{% else %}"{% endif %} aria-label="Visit 'Lost Authentic Recipes.'">{% include custom/logo.html %}</a>
		</div>
		<div class="footer-navigation">
			<div class="footer-links">
				<h4 class="footer-title">{{ site.title }}</h4>
				<nav>
					{% include core/navigation.html %}
				</nav>
			</div>
			<div class="footer-links">
				<h4 class="footer-title">Resources</h4>
				<ul class="nav">
					{% assign entries = site.pages | where: "resource", true | sort: "order" %}
					{% for entry in entries %}
					<li class="nav-link">
						<a class="{% if page.url == entry.url %} nav-active{% endif %}" href="{{ site.baseurl }}{{ entry.url }}" aria-label="{{ entry.title }}">{{ entry.title }}</a>
					</li>
					{% endunless %}
					{% endfor %}
					{% for entry in site.navigation %}
					<li class="nav-link">
						<a href="{{ entry[1] }}" aria-label="{{ entry[0] }}">{{ entry[0] }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<h6 class="footer-text">© {{ site.time | date: '%Y' }} <a href="https://twitter.com/{{ site.author.twitter }}" aria-label="Follow {{ site.author.name }} on Twitter.">{{ site.author.name }}</a>. All rights reserved.</h6>
	</div>
</footer>
